@media screen and (max-width:700px){

  .animation__box--active {
    position: absolute;
    top: 43%;
    height: 10%;
    width: 100%;
    overflow: hidden;
  }

  .animation__box {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .first__mac {
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 4vmin;
    height: 50%;
    width: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
  }

  .first__mac--active {
    position: absolute;
    left: 45%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    font-family: 'Raleway', sans-serif;
    animation: first 1s forwards;
  }

  .second__mac {
    position: absolute;
    left: 54%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
  }

  .second__mac--active {
    position: absolute;
    left: 54%;
    top: 30%;
    font-size: 4vmin;
    width: auto;
    font-family: 'Raleway', sans-serif;
    animation: second 1s forwards;
  }

  .first__cudi {
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 4vmin;
    height: 45%;
    width: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
  }

  .first__cudi--active {
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    font-family: 'Raleway', sans-serif;
    animation: firstcudi 1s forwards;
  }

  .second__cudi {
    position: absolute;
    left: 52%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    animation: secondcudi 1s forwards;
  }

  .second__cudi--active {
    position: absolute;
    left: 52%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    animation: secondcudi 1s forwards;
  }

  .ID--active {
    position: absolute;
    left: 49%;
    top: 33.8%;
    height: auto;
    width: 0%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 3.5vmin;
    text-align: left;
    animation: mac 3s 1s forwards;
  }

  .ID {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .UDI--active {
    position: absolute;
    left: 57%;
    top: 33.8%;
    height: auto;
    width: 0%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 3.5vmin;
    text-align: left;
    animation: mac 3s 1s forwards;
  }

  .UDI {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .AC--active {
    position: absolute;
    left: 48%;
    top: 34%;
    height: auto;
    width: 0%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 3.5vmin;
    text-align: left;
    animation: mac 3s 1s forwards;
    writing-mode: horizontal-tb;
  }

  .AC {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .ILLER--active {
    position: absolute;
    left: 58%;
    top: 34%;
    height: auto;
    width: 0%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 3.5vmin;
    float: left;
    text-align: left;
    animation: miller 3s 1s forwards;
    writing-mode: horizontal-tb;
  }

  .ILLER {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .EMENTO--active {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .EMENTO {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .ORI {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .ORI--active {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .first__travis {
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    font-family: 'Raleway', sans-serif;
  }

  .first__travis--active {
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    font-family: 'Raleway', sans-serif;
    animation: firsttravis 1s forwards;
  }

  .second__travis {
    position: absolute;
    left: 54%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    animation: secondtravis 1s forwards;
  }

  .second__travis--active {
    position: absolute;
    left: 54%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    animation: secondtravis 1s forwards;
  }

  .RAVIS--active {
    position: absolute;
    left: 44.25%;
    top: 37%;
    height: auto;
    width: 0%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 3vmin;
    animation: mac 3.5s 1s forwards;
  }

  .RAVIS {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .COTT {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .COTT--active {
    position: absolute;
    left: 56.5%;
    top: 37%;
    height: auto;
    width: 0%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 3vmin;
    animation: miller 4s 1s forwards;
  }

  .first__chance {
    position: absolute;
    left: 47%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    font-family: 'Raleway', sans-serif;
  }

  .first__chance--active {
    position: absolute;
    left: 47%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    font-family: 'Raleway', sans-serif;
    animation: firstchance 1s forwards;
  }

  .second__chance {
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
  }

  .second__chance--active {
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    animation: secondchance 1s forwards;
  }

  .third__chance {
    position: absolute;
    left: 53%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
  }

  .third__chance--active {
    position: absolute;
    left: 53%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    animation: thirdchance 1s forwards;
  }

  .HANCE--active {
    position: absolute;
    left: 38%;
    top: 37%;
    height: auto;
    width: 0%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 3vmin;
    animation: mac 3.5s 1s forwards;
  }

  .HANCE {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .HE--active {
    position: absolute;
    left: 52.5%;
    top: 37%;
    height: auto;
    width: 0%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 3vmin;
    animation: mac 3.5s 1s forwards;
  }

  .HE {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .APPER--active {
    position: absolute;
    left: 61%;
    top: 37%;
    height: auto;
    width: 0%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 3vmin;
    animation: mac 3.5s 1s forwards;
  }

  .APPER {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  @keyframes first {
      from {
          top: 30%;
          left: 50%;
      }
      to {
        top: 30%;
        left: 44%;
      }
  }

  @keyframes second {
      from {
          top: 30%;
          left: 54%;
      }
      to {
        top: 30%;
        left: 54%;
      }
  }

  @keyframes mac {
      from {
          width: 0%;
      }
      to {
        width: 15%;
      }
  }

  @keyframes miller {
      from {
          width: 0%;
      }
      to {
        width: 30%;
      }
  }

  @keyframes firstcudi {
      from {
          top: 30%;
          left: 50%;
      }
      to {
        top: 30%;
        left: 46%;
      }
  }

  @keyframes firsttravis {
      from {
          top: 30%;
          left: 50%;
      }
      to {
        top: 30%;
        left: 42%;
      }
  }

  @keyframes secondtravis {
      from {
          top: 30%;
          left: 54%;
      }
      to {
        top: 30%;
        left: 54%;
      }
  }

  @keyframes firstchance {
      from {
          top: 30%;
          left: 47%;
      }
      to {
        top: 30%;
        left: 35%;
      }
  }

  @keyframes secondchance {
      from {
          top: 30%;
          left: 50%;
      }
      to {
        top: 30%;
        left: 50%;
      }
  }

  @keyframes thirdchance {
      from {
          top: 30%;
          left: 55%;
      }
      to {
        top: 30%;
        left: 58%;
      }
  }

  @keyframes hance {
      from {
          width: 0%;
      }
      to {
        width: 30%;
      }
  }

  @keyframes he {
      from {
          width: 0%;
      }
      to {
        width: 8%;
      }
  }

  @keyframes apper {
      from {
          width: 0%;
      }
      to {
        width: 30%;
      }
  }

  @keyframes secondcudi {
      from {
          top: 30%;
          left: 54%;
      }
      to {
        top: 30%;
        left: 54%;
      }
  }

  @keyframes memento {
      from {
          width: 0%;
      }
      to {
        width: 30%;
      }
  }

  @keyframes mori {
      from {
          width: 0%;
      }
      to {
        width: 5%;
      }
  }



}
