@media screen and (max-width:700px){

.nothing {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.home__wheel {
  position: absolute;
  top: 17%;
  left: 10%;
  height: 80vmin;
  width: 80vmin;
  border-radius: 50%;
  background: black;
  border: solid .5px black;
  }

  .title__home {
    position: absolute;
    height: 0%;
    width: 32vmin;
    top: 40%;
    left: 31%;
    color: black;
    font-size: 5vmin;
    z-index: 45;
    text-align: center;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
  }

  .play__song {
    position: absolute;
    height: auto;
    width: auto;
    top: 52%;
    left: 38%;
    color: black;
    font-size: 2vmin;
    z-index: 15;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
  }

  .home {
    position: absolute;
    height: 34vmin;
    width: 34vmin;
    top: 30%;
    left: 30%;
    border-radius: 100%;
    border-top: solid 3px #6DEA75;
    border-right: solid 3px black;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
    z-index: 30;
    background: white;
    cursor: pointer;
  }

  .homemac {
    position: absolute;
    height: 34vmin;
    width: 34vmin;
    top: 30%;
    left: 30%;
    border-top: solid 3px #6DEA75;
    border-right: solid 3px black;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
    border-radius: 100%;
    z-index: 30;
    background: white;
    animation: mac_home 3s ease-out forwards;
    cursor: pointer;
  }

  .homecudi {
    position: absolute;
    height: 34vmin;
    width: 34vmin;
    top: 30%;
    left: 30%;
    border-top: solid 3px #6DEA75;
    border-right: solid 3px black;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
    border-radius: 100%;
    z-index: 30;
    background: white;
    cursor: pointer;
    animation: cudi_home 3s ease-out forwards
  }

  .hometravis {
    position: absolute;
    height: 34vmin;
    width: 34vmin;
    top: 30%;
    left: 30%;
    border-top: solid 3px #6DEA75;
    border-right: solid 3px black;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
    border-radius: 100%;
    z-index: 30;
    background: white;
    cursor: pointer;
    animation: travis_home 3s ease-out forwards
  }

  .homechance {
    position: absolute;
    height: 34vmin;
    width: 34vmin;
    top: 30%;
    left: 30%;
    border-top: solid 3px #6DEA75;
    border-right: solid 3px black;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
    border-radius: 100%;
    z-index: 30;
    background: white;
    cursor: pointer;
    animation: chance_home 3s ease-out forwards
  }

.mac {
  position: absolute;
  top: 5%;
  left: 41%;
  height: 22%;
  width: 22%;
  z-index: 12;
  cursor: pointer;
}

.mac:hover {
  border: solid 1px #6DEA75;
}

.cudi {
  position: absolute;
  right: 3%;
  top: 35%;
  height: 22%;
  width: 22%;
  z-index: 12;
  cursor: pointer;
}

.cudi:hover {
  border: solid 1px #6DEA75;
}

.travis {
  position: absolute;
  bottom: 2.5%;
  left: 40%;
  height: 22%;
  width: 22%;
  z-index: 12;
  cursor: pointer;
}

.travis:hover {
  border: solid 1px #6DEA75;
}

.chance {
  position: absolute;
  left: 3%;
  top: 35%;
  height: 22%;
  width: 22%;
  z-index: 12;
  font-size: 1.5vmin;
  cursor: pointer;
}

.chance:hover {
  border: solid 1px #6DEA75;
}

.home__icon {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 0%;
}

.artist__name--cudi {
  position: absolute;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  top: 80%;
  font-size: 2.2vmin;
  height: auto;
  width: 100%;
}

.artist__name--mac {
  position: absolute;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  top: 80%;
  font-size: 2.2vmin;
  height: auto;
  width: 100%;
}

.artist__name--travis {
  position: absolute;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  top: 80%;
  font-size: 2.2vmin;
  height: auto;
  width: 100%;
}

.artist__name--chance {
  position: absolute;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  top: 80%;
  height: auto;
  font-size: 1.8vmin;
  width: 100%;
}

.title__info {
  position: absolute;
  left: 13%;
  top: 85%;
  background: #FBFDFB;
  height: auto;
  width: 75vmin;
}

.title__description {
  position: absolute;
  left: 0%;
  top: 20%;
  height: auto;
  font-size: 7vmin;
  width: 100%;
  font-style: bold underline;
  text-align: center;
  background: #FBFDFB;
  font-family: 'Raleway', sans-serif;
}

.title__name--active {
  position: absolute;
  left: 55%;
  top: 20%;
  height: 15%;
  width: 75vmin;
  font-size: 8vmin;
  border-bottom: solid 1px black;
  font-style: bold;
  text-align: center;
  background: #FBFDFB;
  font-family: 'Raleway', sans-serif;
}

.title__main {
  position: absolute;
  left: 0%;
  top: 0%;
  height: auto;
  font-size: 10vmin;
  width: 100%;
  font-style: bold underline;
  text-align: center;
  background: #FBFDFB;
  font-family: 'Raleway', sans-serif;
  border-bottom: solid 1px black;
}

.title__name {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.circle__text {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.artist__text {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
  z-index: -1;
}

.artist__text--active {
  position: absolute;
  right: 0%;
  top: 80%;
  font-size: 5vmin;
  height: auto;
  color: white;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  animation: flash 1s 2s forwards;
  z-index: 10;
}

.artist__text--first--mobile--active {
  position: absolute;
  left: 3%;
  top: 80%;
  font-size: 5vmin;
  height: auto;
  color: white;
  width: 20%;
  font-family: 'Raleway', sans-serif;
  z-index: 10;
  text-align: center;
  animation: reappear .5s 0s;
  z-index: 11;
}

.artist__text--first--mobile {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}


.artist__text--third--mobile {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.artist__text--fourth--mobile {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.artist__text--second--mobile {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.artist__text--second--mobile--active {
  position: absolute;
  left: 28%;
  top: 80%;
  font-size: 5vmin;
  height: auto;
  color: white;
  width: 20%;
  font-family: 'Raleway', sans-serif;
  z-index: 10;
  text-align: center;
  animation: reappear .5s 1s;
  z-index: 11;
}

.artist__text--third--mobile--active {
  position: absolute;
  left: 53%;
  top: 80%;
  font-size: 5vmin;
  height: auto;
  color: white;
  width: 20%;
  font-family: 'Raleway', sans-serif;
  z-index: 10;
  text-align: center;
  animation: reappear .5s .5s;
  z-index: 11;
}

.artist__text--fourth--mobile--active {
  position: absolute;
  left: 78%;
  top: 80%;
  font-size: 5vmin;
  height: auto;
  color: white;
  width: 20%;
  font-family: 'Raleway', sans-serif;
  z-index: 10;
  text-align: center;
  animation: reappear .5s 1.5s;
  z-index: 11;
}


@keyframes mac_home {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(1080deg);
    }
}

@keyframes chance_home {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(990deg);
    }
}

@keyframes travis_home {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(900deg);
    }
}

@keyframes cudi_home {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(810deg);
    }
}

@keyframes spin__circle {
  from {
    transform:rotate(0deg)
  }
  to {
    transform:rotate(720deg)
  }
}

@keyframes disappear {
  from{
    color: black;
  }
  to {
    color: white;
  }
}

@keyframes reappear {
  from{
    color: white;
  }
  to {
    color: black;
  }
}


@keyframes flash {
  from{
    color: white;
    z-index: 10;
  }
  to {
    color: black;
    z-index: 20;
  }
}
}
