.home__box {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 30%;
  height: 55%;
  overflow: hidden;
}

.donation__home--playlist {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
  animation: left linear 1.5s 2s forwards;
}

.donation__home--donation {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  animation: backleft linear 1.5s 2.5s forwards;
}

.playlist__home--playlist {
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  animation: back linear 1.5s 2.5s forwards;
  cursor: pointer;
}

.playlist__home--donation {
  position: absolute;
  right: 0%;
  width: 100%;
  height: 100%;
  animation: right linear 1.5s 2s forwards;
  cursor: pointer;
}

.playlist__donation--image {
  position: absolute;
  top: -5%;
  left: 15%;
  width: 70%;
  height: 75%;
}

.playlist__donation--donate {
  position: absolute;
  top: 75%;
  left: 20%;
  height: 10%;
  width: 60%;
  background: #68C3E3;
  color: white;
  text-align: center;
  padding-top: 2%;
  font-family: 'Raleway', sans-serif;
}

.playlist__donation--info {
  position: absolute;
  top: 85%;
  height: 5%;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: black;
  padding-top: 2%;
  font-size: 1.5vmin;
}

.playlist__home--title {
  position: absolute;
  height: 10%;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: black;
  padding-top: 1.5%;
  font-size: 2.5vmin;
}

.playlist__home--swimming {
  position: absolute;
  top: 10%;
  left: 15%;
  height: 12.5vmin;
  width: 12.5vmin;
}

.playlist__home--circles {
  position: absolute;
  top: 37.5%;
  left: 0%;
  height: 12.5vmin;
  width: 12.5vmin;
}

.playlist__home--faces {
  position: absolute;
  bottom: 12.5%;
  left: 15%;
  height: 12.5vmin;
  width: 12.5vmin;
}

.playlist__home--kids {
  position: absolute;
  bottom: 12.5%;
  right: 15%;
  height: 12.5vmin;
  width: 12.5vmin;
}

.playlist__home--macadelic {
  position: absolute;
  top: 37.5%;
  right: 0%;
  height: 12.5vmin;
  width: 12.5vmin;
}

.playlist__home--good {
  position: absolute;
  top: 10%;
  right: 15%;
  height: 12.5vmin;
  width: 12.5vmin;
}

.playlist__home--add {
  position: absolute;
  top: 35%;
  left: 37.5%;
  height: 15vmin;
  width: 15vmin;
}

@keyframes left {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        right: 0%;
    }
    to {
        right: -100%;
    }
}

@keyframes back {
    from {
        right: -100%;
    }
    to {
        right: 0%;
    }
}

@keyframes backleft {
    from {
        left: -100%;
    }
    to {
        left: 00%;
    }
}
