.progress__bar {
  position: absolute;
  top: 90%;
  width: 100%;
  height: 5px;
  background: white;
}

.progress__cover {
  position: absolute;
  top: 90%;
  background: green;
  height: 5px;
}

.video__time {
  position: absolute;
  top: 50%;
  font-family: 'Raleway', sans-serif;
  font-size: 2vmin;
  color: grey;
}

.progress__bar--one {
  position: absolute;
  height: 100%;
  width: 50%;
}

.progress__bar--one:hover {
  position: absolute;
  background: orange;
}

.progress__bar--two {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
}

.progress__bar--two:hover {
  position: absolute;
  background: blue;
}

.progress__bar--dynamic {
  position: absolute;
  width: 100%;
  height: 100%;
}

.progress__bar--dynamic--first {
  position: absolute;
  left: 0%;
  height: 100%;
  width: 10%;
}

.progress__bar--dynamic--second {
  position: absolute;
  left: 10%;
  height: 100%;
  width: 10%;
}

.progress__bar--dynamic--third {
  position: absolute;
  left: 20%;
  height: 100%;
  width: 10%;
}

.progress__bar--dynamic--fourth {
  position: absolute;
  left: 30%;
  height: 100%;
  width: 10%;
}

.progress__bar--dynamic--fifth {
  position: absolute;
  left: 40%;
  height: 100%;
  width: 10%;
}

.progress__bar--dynamic--sixth {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 10%;
}

.progress__bar--dynamic--seventh {
  position: absolute;
  left: 60%;
  height: 100%;
  width: 10%;
}

.progress__bar--dynamic--eigth {
  position: absolute;
  left: 70%;
  height: 100%;
  width: 10%;
}

.progress__bar--dynamic--ninth {
  position: absolute;
  left: 80%;
  height: 100%;
  width: 10%;
}

.progress__bar--dynamic--tenth {
  position: absolute;
  left: 90%;
  height: 100%;
  width: 10%;
}
