@media screen and (max-width:700px){
  .sign__up {
    position: absolute;
    top: 12.5%;
    left: 33.33%;
    width: 33.33%;
    height: 40%;
  }

  .email__field {
    position: absolute;
    top: 20%;
    width: 80%;
    left: 10%;
  }

  .password__field {
    position: absolute;
    top: 40%;
    width: 80%;
    left: 10%;
  }

  .password__field--login {
    position: absolute;
    top: 50%;
    width: 80%;
    left: 10%;
  }

  .password__confirm__field {
    position: absolute;
    top: 70%;
    width: 80%;
    left: 10%;
  }

  .email__label {
    position: absolute;
    top: -50%;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }

  .password__label {
    position: absolute;
    top: -10%;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }

  .password__label--login {
    position: absolute;
    top: -50%;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }

  .password__confirm__label {
    position: absolute;
    top: -95%;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }

  .actions {
    position: absolute;
    top: 100%;
    left: 43%;
    height: 20%;
    width: 10%;
    font-family: 'Raleway', sans-serif;
    z-index: 10;
    color: black;
  }

  .actions--login {
    position: absolute;
    top: 70%;
    left: 43%;
    height: 20%;
    width: 10%;
    font-family: 'Raleway', sans-serif;
    z-index: 10;
    color: black;
  }

  .hidden {
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .signUp__title {
    position: absolute;
    height: 10%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: center;
    font-size: 4vmin;
    background: white;
    z-index: 30;
    padding-top: 1%;
    border-bottom: solid 1px black;
  }

  .sign__up--privacy--title {
    position: absolute;
    height: 10%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: center;
    font-size: 4vmin;
    background: white;
    z-index: 30;
    padding-top: 1%;
    border-top: solid 1px black;
  }

  .sign__up--privacy--info {
    position: absolute;
    top: 30%;
    height: 80%;
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: left;
    font-size: 1.75vmin;
    background: white;
    z-index: 30;
    padding-left: 2%;
    padding-right: 2%;
  }

  .sign__up--privacy {
    position: absolute;
    top: 70%;
    width: 100%;
    height: 40%;
  }

  .sign__out--user {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 5%;
    width: 5%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding-top: 1%;
  }
}
