@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.white {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.youtube-- {
  position: absolute;
  top: 30%;
  right: 5%;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.youtube--active {
  position: absolute;
  height: 45%;
  width: 35%;
  top: 30%;
  right: 5%;
  z-index: 20;
}

.cover {
  position: absolute;
  height: 100%;
  width: 100vmin;
  right: 0%;
  z-index: 15;
  background: white;
}

.songs__queue--active {
  position: absolute;
  top: 77%;
  right: 5%;
  width: 35%;
  height: 20%;
  overflow: scroll;
}

.songs__queue-- {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: scroll;
}

.queue__title {
  position: absolute;
  height: 20%;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 4vmin;
  z-index: 16;
}

.queued__tracks {
  position: relative;
  top: 5%;
  height: 25%;
  width: 100%;
  margin-top: 10%;
  cursor: pointer;
  z-index: 16;
}

.queued__song--desktop {
  position: absolute;
  height: auto;
  width: auto;
  top: 55%;
  left: 32%;
  color: black;
  font-size: 2vmin;
  z-index: 15;
  text-align: center;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.queued__song--mobile {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.artists {
  position: absolute;
  top: 2%;
  left: 5%;
  height: 8%;
  width: 50%;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.home__link {
  margin-left: 0.75%;
  color: black;
}

.home__link:hover {
  color: #F0E4E4;
}

.random__mac {
  position: absolute;
  top: 10%;
  left: 4%;
  height: 80vmin;
  width: 80vmin;
  border-radius: 50%;
  background: black;
  border: solid .5px black;
  z-index: 16;
}

.random__travis {
  position: absolute;
  top: 10%;
  left: 4%;
  height: 80vmin;
  width: 80vmin;
  border-radius: 50%;
  background: black;
  border: solid .5px black;
  z-index: 16;
}

.random__chance {
  position: absolute;
  top: 10%;
  left: 4%;
  height: 80vmin;
  width: 80vmin;
  border-radius: 50%;
  background: black;
  border: solid .5px black;
  z-index: 16;
}

.random__cudi {
  position: absolute;
  top: 10%;
  left: 4%;
  height: 80vmin;
  width: 80vmin;
  border-radius: 50%;
  background: #363534;
  border: solid .5px black;
  z-index: 16;
}

.play__song {
  position: absolute;
  height: auto;
  width: auto;
  top: 63%;
  left: 38%;
  color: black;
  font-size: 2vmin;
  z-index: 15;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  z-index: 16;
}

.click__song {
  position: absolute;
  height: auto;
  width: auto;
  top: 59%;
  left: 36%;
  color: black;
  font-size: 2vmin;
  z-index: 15;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.first {
  position: absolute;
  top: 5%;
  left: 41%;
  height: 18%;
  width: 18%;
  z-index: 12;
  cursor: pointer;
}

.cudi__link {
  position: absolute;
  top: 2%;
  left: 35%;
  height: auto;
  width: auto;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  z-index: 3;
}

.cudi__link:hover {
  color: #F0E4E4;
}

.chance__link {
  position: absolute;
  top: 2%;
  left: 50%;
  height: auto;
  width: auto;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  z-index: 3;
}

.chance__link:hover {
  color: #F0E4E4;
}

.travis__link {
  position: absolute;
  top: 2%;
  left: 75%;
  height: auto;
  width: auto;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  z-index: 3;
}

.travis__link:hover {
  color: #F0E4E4;
}

.links {
  position: relative;
  height: auto;
  width: auto;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  z-index: 3;
  padding-left: 3%;
  float: left;
  z-index: 16;
}

.links:hover {
  color: #F0E4E4;
}

.mac__link {
  position: absolute;
  top: 2%;
  left: 20%;
  height: auto;
  width: auto;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  z-index: 3;
}

.mac__link:hover {
  color: #F0E4E4;
}

.five {
  position: absolute;
  top: 17%;
  left: 67%;
  height: 18%;
  width: 18%;
  z-index: 12;
  cursor: pointer;
}

.hover--first {
  position: absolute;
  height: 18%;
  top: 5%;
  left: 41%;
  width: 18%;
  z-index: 22;
  color: black;
  font-size: 2.3vmin;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--two {
  position: absolute;
  height: 18%;
  top: 42%;
  left: 79%;
  width: 18%;
  z-index: 14;
  font-size: 2.3vmin;
  color: black;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--three {
  position: absolute;
  height: 18%;
  bottom: 2.5%;
  left: 40%;
  width: 18%;
  z-index: 14;
  background: #B92A28;
  color: white;
  font-size: 2.3vmin;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--four {
  position: absolute;
  height: 18%;
  top: 40%;
  left: 3%;
  width: 18%;
  z-index: 14;
  background: white;
  color: black;
  cursor: pointer;
  font-size: 2.3vmin;
  font-family: 'Raleway', sans-serif;
  z-index: 17;
}

.hover--five {
  position: absolute;
  height: 18%;
  top: 17%;
  left: 67%;
  width: 18%;
  z-index: 14;
  font-size: 1.9vmin;
  background: #DCC0BD;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--six {
  position: absolute;
  height: 18%;
  top: 68%;
  left: 65%;
  width: 18%;
  z-index: 22;
  background: #2F46F6;
  font-size: 2vmin;
  color: white;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--fifteen {
  position: absolute;
  height: 18%;
  top: 67%;
  left: 15%;
  width: 18%;
  z-index: 22;
  background: #E2BC9C;
  font-size: 1.2vmin;
  color: black;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--sixteen {
  position: absolute;
  height: 18%;
  top: 17%;
  left: 17%;
  width: 18%;
  z-index: 22;
  background: #3C3D42;
  font-size: 1.5vmin;
  color: white;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--seven {
  position: absolute;
  height: 18%;
  top: 66%;
  left: 16%;
  width: 18%;
  z-index: 22;
  background: #E2BC9C;
  font-size: 2.5vmin;
  color: black;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--eight {
  position: absolute;
  height: 18%;
  top: 16%;
  left: 17%;
  width: 18%;
  z-index: 22;
  background: #3C3D42;
  font-size: 1.5vmin;
  color: white;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--nine {
  position: absolute;
  height: 18%;
  top: 16%;
  left: 17%;
  width: 18%;
  z-index: 22;
  background: white;
  font-size: 2.2vmin;
  color: black;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--ten {
  position: absolute;
  height: 18%;
  top: 16%;
  left: 17%;
  width: 18%;
  z-index: 22;
  background: #E84E4B;
  font-size: 1.8vmin;
  color: white;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--eleven {
  position: absolute;
  height: 18%;
  top: 16%;
  left: 17%;
  width: 18%;
  z-index: 22;
  background: #A2369A;
  font-size: 2.2vmin;
  color: black;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--twelve {
  position: absolute;
  height: 18%;
  top: 66%;
  left: 16%;
  width: 18%;
  z-index: 22;
  background: #FFEF4F;
  font-size: 1.6vmin;
  color: black;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--thirteen {
  position: absolute;
  height: 18%;
  top: 66%;
  left: 16%;
  width: 18%;
  z-index: 22;
  background: #2046F6;
  font-size: 1.9vmin;
  color: white;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover--fourteen {
  position: absolute;
  height: 18%;
  top: 66%;
  left: 16%;
  width: 18%;
  z-index: 22;
  background: #684B74;
  font-size: 2vmin;
  color: white;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.hover-- {
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.title__hover {
  padding: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 50%;
  z-index: 20;
}

.title__ {
  padding: absolute;
  top: 0%;
  overflow: hidden;
  width: 0%;
  height: 0%;
}

.songs__ {
  padding: absolute;
  top: 0%;
  overflow: hidden;
  width: 0%;
  height: 0%;
}

.songs__hover {
  position: absolute;
  top: 20%;
  height: 70%;
  width: 100%;
  background: white;
  color: red;
  z-index: 20;
  overflow: scroll;
}

.play__next {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.tracks {
  position: relative;
  margin-top: 5%;
  color: black;
  background-color: white;
  z-index: 19;
  font-size: 2vmin;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list {
  color: black;
  margin-top: 5px;
}

.list:hover {
  color: grey;
  margin-top: 5px;
}

.tracks:hover {
  background: black;
  color: white;
}

.song__next--mobile {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.six {
  position: absolute;
  top: 68%;
  left: 65%;
  height: 18%;
  width: 18%;
  z-index: 12;
  cursor: pointer;
}

.seven {
  position: absolute;
  top: 66%;
  right: 75%;
  height: 9%;
  width: 9%;
  z-index: 12;
  cursor: pointer;
}

.twelve {
  position: absolute;
  top: 66%;
  right: 66%;
  height: 9%;
  width: 9%;
  z-index: 12;
  cursor: pointer;
}

.thirteen {
  position: absolute;
  top: 75%;
  right: 66%;
  height: 9%;
  width: 9%;
  z-index: 12;
  cursor: pointer;
}

.fourteen {
  position: absolute;
  top: 75%;
  right: 75%;
  height: 9%;
  width: 9%;
  z-index: 12;
  cursor: pointer;
}

.eight {
  position: absolute;
  top: 16%;
  right: 74%;
  height: 9%;
  width: 9%;
  z-index: 12;
  cursor: pointer;
}

.nine {
  position: absolute;
  top: 25%;
  right: 74%;
  height: 9%;
  width: 9%;
  z-index: 12;
  cursor: pointer;
}

.ten {
  position: absolute;
  top: 25%;
  right: 65.2%;
  height: 9%;
  width: 9%;
  z-index: 12;
  cursor: pointer;
}

.eleven {
  position: absolute;
  top: 16%;
  right: 65.2%;
  height: 9%;
  width: 9%;
  z-index: 12;
  cursor: pointer;
}

.two {
  position: absolute;
  right: 3%;
  top: 42%;
  height: 18%;
  width: 18%;
  z-index: 12;
  cursor: pointer;
}

.three {
  position: absolute;
  bottom: 2.5%;
  left: 40%;
  height: 18%;
  width: 18%;
  z-index: 12;
  cursor: pointer;
}

.four {
  position: absolute;
  left: 3%;
  top: 40%;
  height: 18%;
  width: 18%;
  z-index: 12;
  cursor: pointer;
}

.fifteen {
  position: absolute;
  top: 67%;
  left: 15%;
  height: 18%;
  width: 18%;
  z-index: 12;
  cursor: pointer;
}

.sixteen {
  position: absolute;
  top: 17%;
  left: 17%;
  height: 18%;
  width: 18%;
  z-index: 12;
  cursor: pointer;
}

.title--mac {
  position: absolute;
  height: auto;
  width: 32vmin;
  top: 43%;
  left: 31%;
  color: black;
  font-size: 5vmin;
  z-index: 15;
  text-align: center;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.title--chance {
  position: absolute;
  height: auto;
  width: 32vmin;
  top: 43%;
  left: 31%;
  color: black;
  font-size: 3vmin;
  z-index: 15;
  text-align: center;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.title--travis {
  position: absolute;
  height: auto;
  width: 32vmin;
  top: 43%;
  left: 31%;
  color: black;
  font-size: 4vmin;
  z-index: 15;
  text-align: center;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.title--cudi {
  position: absolute;
  height: auto;
  width: 32vmin;
  top: 43%;
  left: 31%;
  color: black;
  font-size: 5vmin;
  z-index: 15;
  text-align: center;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.circle-- {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
}

.circle--albumfirst {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  animation: swimming 3s ease-out forwards;
  cursor: pointer;
}

.circle--albumtwo {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: faces 3s ease-out forwards
}

.circle--albumthree {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: wmwtso 3s ease-out forwards
}

.circle--albumfour {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: am 3s ease-out forwards
}

.circle--albumfive {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: divine 3s ease-out forwards
}

.circle--albumsix {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: blue_slide 3s ease-out forwards
}

.circle--albumseven {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: kids 3s ease-out forwards
}

.circle--albumeight {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: other 3s ease-out forwards
}

.circle--albumnine {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: other 3s ease-out forwards
}

.circle--albumten {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: other 3s ease-out forwards
}

.circle--albumeleven {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: other 3s ease-out forwards
}

.circle--albumtwelve {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: kids 3s ease-out forwards
}

.circle--albumthirteen {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: kids 3s ease-out forwards
}

.circle--albumfourteen {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: kids 3s ease-out forwards
}

.circle--albumfifteen {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: kids 3s ease-out forwards
}

.circle--albumsixteen {
  position: absolute;
  height: 34vmin;
  width: 34vmin;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  cursor: pointer;
  animation: kids 3s ease-out forwards
}

.footer {
  position: absolute;
  top: 1%;
  left: 25%;
  font-family: 'Raleway', sans-serif;
  color: rgba(100,100, 100, 0.5)
}

.flash--active {
  position: absolute;
  left: 60%;
  top: 2%;
  width: 35%;
  font-family: 'Raleway', sans-serif;
  background: #DFF3D8;
  text-align: center;
  color: black;
  z-index: 17;
  border-radius: 15%;
  animation: disappear 1.5s 2s;
  padding: 5px 10px 5px 10px;
}

.flash {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

@keyframes swimming {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(1080deg);
    }
}

@keyframes am {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(990deg);
    }
}

@keyframes wmwtso {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(900deg);
    }
}

@keyframes faces {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(810deg);
    }
}

@keyframes divine {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(765deg);
    }
}

@keyframes blue_slide {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(855deg);
    }
}

@keyframes kids {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(945deg);
    }
}

@keyframes other {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(1035deg);
    }
}

@keyframes disappear {
  from {
    background: #DFF3D8;
  }

  to {
    background: white;
    color: white
  }
}
